
.Item{
    margin-bottom: 20px;
   
}
.Content{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.Taskname{
    display: inline-block;
    font-size: 24px;
    margin-bottom: 0px;
    color: #000;
}

.Bullet{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #5065F6;
    background-color: #5065F6;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 4px;
}



.Checkbox{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 6px;
    margin-right: 10px;
}

.Controlsec{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Editbtn,.Deletebtn{
    margin-right: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 0.5;
}

.Editbtn:hover,
.Editbtn:focus,
.Editbtn:active,
.Deletebtn:hover,
.Deletebtn:active,
.Deletebtn:focus{
    background-color: #BEBEBE !important;
    outline: none;
    border: none;
    color: #000;
}